body {
    background-color: #b4f2e1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.heading {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.text-md {
    font-size: var(--text-md, 1.2em);
    display: flex;
    justify-content: center;
}

.dit {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 10px 10px;
    margin: auto;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #eee;
}

.card1 {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    width: fit-content;
    margin: 14px;
}

.cards {
    display: flex;
    justify-content: center;
}

img {
    padding-left: 40px;
    padding-right: 1px;
    ;
}

.card1 {
    position: sticky;
    top: 1px
}

.pic {
    margin-top: 50px;
}

.bn {
    background-color: antiquewhite;
    border-radius: 2px;
    border-color: white;
    margin: auto;
    cursor: pointer;
}

.para {
    display: flex;
    justify-content: center;
    padding: 40px, 40px;
    margin: 40px, 40px;
    font-size: x-large;
    padding-left: 70px;
}